$lgreen: #8eca00;
$thinborder: 1px solid rgba(255, 255, 255, 0.3);
$mons: 'Montserrat', sans-serif;
$play: 'Playfair Display', serif;
$gblack: #161d29;
$osw: "Oswald", sans-serif;

h2 {
	font-size: 60px;
	font-family: $osw;
	color: rgb(51, 51, 51);
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.167;
	text-align: center;
}

.page-header {
	min-height: 700px;
	padding-bottom: 50px;
	position: relative;

	.text-headers {
		margin: 0 auto;
		position: absolute;
		bottom: 10%;
		left: 0;
		right: 0;

		h1 {
			color: white;
			font-size: 70px;
		}

		p {
			font-size: 20px;
		}

	}

	.bg-container {
		position: absolute;
		background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/testimonials_bg.jpg') no-repeat top center/cover;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -100;
	}

}

.main {
	padding-top: 100px;
	padding-bottom: 170px;
	font-size: 20px;
	text-align: center;
	font-family: $mons;
	color: rgb(102, 102, 102);

	p {
		font-size: 16px;
		font-weight: 300;
	}

}

.video-testimonials {
	.item {
		margin-top: 60px;

		p {
			font-size: 18px;
			font-family: $play;
			color: rgb(51, 51, 51);
			font-weight: 700;
			text-align: left;
			font-style: italic;
			line-height: 1.6;
			display: inline-block;
			padding-left: 30px;
		}

		div.quote-ico {
			display: inline-block;

			&:before {
				content: "“";
				font-family: "Georgia", serif;
				color: rgb(129, 184, 0);
				font-size: 100px;
				text-align: left;
				font-style: normal;
				display: block;
				margin-top: -30px;
			}

		}

		span.author {
			font-size: 14px;
			font-family: $mons;
			color: #333333;
			text-transform: uppercase;
			font-style: normal;
			font-weight: 400;
			display: block;
			margin-top: 17px;

			b {
				font-weight: 700;
				color: $lgreen;

				&:after {
					content: "-";
					color: #333;
					margin-left: .7em;
					margin-right: .7em;
				}

			}

		}

	}

	.video-cat {
		padding-top: 65%;
		width: 100%;
		position: relative;
		margin-bottom: 20px;
		background-color: #000;

		.btn.btn-success, .btn-play {
			position: absolute;
			font-size: 15px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			border: 0;
			border-radius: 0;
			height: 44px;
			width: 79px;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: filter 0.3s ease-in;
			background-color: $lgreen;

			&:before {
				content: url('../img/play-sm.png');
				display: inline-block;
				padding-top: 2px;
			}

			&:hover {
				filter: opacity(0.6);
				transition: filter 0.3s ease-out;
			}

		}

		.thumb {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			overflow: hidden;

			img {
				object-fit: cover;
				opacity: 0.7;
				display: block;
				width: 120%;
			}

		}

	}

}

.card-testimonials {
	.item {
		background-color: #fff;
		padding: 50px;
		margin-top: 30px;
		box-shadow: 0px 0px 27px -7px rgba(0, 0, 0, 0.55);

		.stars {
			margin: 15px auto;

			img {
				display: inline-block;
				width: auto;
			}

		}

		p {
			font-size: 21px;
			font-family: $play;
			color: rgb(102, 102, 102);
			font-style: italic;
			line-height: 1.905;
			font-weight: 400;
		}

		.category {
			font-size: 18px;
			font-family: $mons;
			color: rgb(51, 51, 51);
			font-weight: 700;
			text-transform: uppercase;
			margin: 15px auto;
		}

		.author {
			font-size: 12px;
			font-weight: 300;
			font-family: $mons;
			margin: 15px auto;
			color: $lgreen;
			font-weight: 700;
			text-transform: uppercase;
		}

	}

}

@media (max-width:1200px) {
	.page-header {
		.bg-container {
			top: 20%;
			z-index: -100;
		}

	}

	.main h2 {
		font-size: 36px;
	}

}

@media (max-width:700px) {
	.card-testimonials {
		.item {
			padding: 30px;

			p {
				font-size: 16px;
			}

			.category {
				font-size: 14px;
			}

			.author {
				font-size: 10px;
			}

		}

	}

	header.page-header {
		background: none;

		.bg-container {
			top: 20%;
			z-index: -100;
		}

	}

	.main h2 {
		font-size: 36px;
		padding-left: 0;
		border-left: 0;
	}

	.main p {
		font-size: 14px;
	}

	.video-testimonials .item {
		p {
			font-size: 14px;
			padding-left: 10px;

			span.author {
				font-size: 10px;
			}

		}

	}

}
